<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Montignac</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script>
            function Ctrl($scope, $http) {
                $http.get("items.json").success(function (data) {
                    $scope.items = data;
                });
            }
        </script>
    </head>
    <body ng-controller="Ctrl" class="container">
        <h1>Hello, Montignac!</h1>

        <input ng-model="search" class="search-query" placeholder="Search">
        <ul>
            <li ng-repeat="item in items | filter:search">{{item.nom}} {{item.ig}}</li>
        </ul>
        
    </body>
</html>
